pkgbase = shoutout-git
	pkgdesc = Use your Google Audio compatible speakers for system audio, with native desktop settings
	pkgver = 0.1.0.r35.g2c0480f
	pkgrel = 1
	url = https://github.com/lkarlslund/shoutout
	install = shoutout.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go>=2:1.26
	makedepends = cmake
	makedepends = ninja
	makedepends = kcmutils
	makedepends = kcoreaddons
	depends = ffmpeg
	depends = libpulse
	depends = pipewire-pulse
	depends = qt6-base
	depends = libglvnd
	depends = systemd
	depends = glibc
	depends = libgcc
	depends = libstdc++
	provides = shoutout
	conflicts = shoutout
	source = shoutout::git+https://github.com/lkarlslund/shoutout.git#branch=main
	sha256sums = SKIP

pkgname = shoutout-git
	optdepends = shoutout-kde-git: KDE System Settings integration

pkgname = shoutout-kde-git
	pkgdesc = ShoutOut integration for KDE System Settings
	install = 
	depends = shoutout-git=0.1.0.r35.g2c0480f
	depends = kcmutils
	depends = kcoreaddons
	depends = qt6-base
	depends = systemsettings
	depends = libglvnd
	depends = glibc
	depends = libgcc
	depends = libstdc++
	provides = shoutout-kde
	conflicts = shoutout-kde
